
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@600&display=swap');


body{
  background-color: #bcbdbb;
}


h1{
  color: #326913;
  font-family: Instrument Sans;
  text-align: center;
}

h2{

  color: red;
  text-align: center;
}

img{
      width: 900px;
      height: 900px;
   
}